<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        ${require('raw-loader!./meta.html')}
        <title>search</title>
        <script>
            ${require('raw-loader!babel-loader!../../node_modules/lib-flexible/flexible.js')}
        </script>
    </head>
</head>
<body>
    <div id="root">
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=/, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>xxxx</title>
        </head>
        <body>
            <!--HTML_PLACEHOLDER-->
        </body>
        </html>
    </div>
    <!-- INITIAL_DATA_PLACRHOLDER-->
    <!-- <script src="https://11.url.cn/now/lib/16.2.0/react.min.js"></script>
<script src="https://11.url.cn/now/lib/16.2.0/react-dom.min.js"></script> -->
</body>
</html>